{% extends 'base.html' %}

{% block title %} Resultados Búsqueda de Personas {% endblock %}
{% block subtitulo %} Resultados Búsqueda de Personas {% endblock %}



{% block content %}



  
  {% if error_msg %}
  <p>{{ error_msg }}</p>
  {% endif %}

  
  <h1>Lista de Personas</h1>
    <table class="table table-dark" border="2" width="80%" style="text-justify:center; margin-left: 10px; margin-right:80px !important;">
    <tr>
    <td>Documento</td>
    <td>Apellido</td>
    <td>Nombre</td>
    <td>Domicilio</td>
    <td>Telefono</td>
    <td>Email</td>
    <td>Localidad</td>
    <td>Fecha de Nacimiento</td>
    <td>Sexo</td>
    <td>Crear Solicitud</td>
    <td>Modificar Solicitud</td>
    <td>Eliminar Solicitud</td>
    </tr>
    {% for sts in lista_personas %}
    <tr>
    <td>{{ sts.documento }}</td>
    <td>
    {{ sts.apellido }}</td>
    <td> {{ sts.nombre }}
    </td>
    <td> {{ sts.domicilio }}
    </td>
    <td> {{ sts.telefono }}
    </td>
    <td> {{ sts.email}}
    </td>
    <td> {{ sts.localidad }}
    </td>
    <td> {{ sts.fecha_de_nacimiento }}
    </td>
    <td> {{ sts.sexo }}
    </td>
    <td> 
      <form action="{% url 'certificaciones:crear' %}">
        
        <button type="submit" class="btn btn-success btn-block mb-8" style="justify-content: center; margin-top: 10px">Crear</button>
      
    </form>
    </td>
    <td> <form action="{% url 'certificaciones:modificar' %}">
        
      <button type="submit" class="btn btn-warning btn-block mb-8" style="justify-content: center; margin-top: 10px">Modificar</button>
    
  </form>
    </td>
    <td><form action="{% url 'certificaciones:eliminar' %}">
        
      <button type="submit" class="btn btn-danger btn-block mb-8" style="justify-content: center; margin-top: 10px">Eliminar</button>
    
  </form>
    </td>
    </tr>
    {% endfor %}
    </table>


  




<footer class="container">
    <p>&copy; Prototipo</p>
</footer>
{% endblock %}