{% extends 'base.html' %}

{% block title %} Carga Certificaciones {% endblock %}


{% include 'main/includes/navbar.html' %}

{% block content %}
{% include 'main/includes/navbar.html' %}

<main role="main">
  <form action="{% url 'Detalle' %}" method="get">
    <input name="q" type="number" placeholder="Buscar DNI">
  </form>
        <form action="/team_name_url/" method="post">
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-control" placeholder="Nombtr" name="email">
                          </div>
                          <div class="col">
                            <input type="password" class="form-control" placeholder="Enter password" name="pswd">
                          </div>
                        </div>
         </form> 

</main>

<footer class="container">
    <p>&copy; Company 2017-2020</p>
</footer>
{% endblock %}